<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
<div>
  <h1>로그인</h1>
  <form action="/members/login" method="post">
    <label for="id"></label>
    <input id="id" name="id" placeholder="아이디"><br>

    <label for="password"></label>
    <input id="password" name="password" placeholder="비밀번호"><br>
    <button id="loginBtn" type="submit">로그인</button>
  </form>

  <button id="signupBtn" onclick="location.href='/members/signUp'">회원가입</button>

  <br><div th:text="${message}" style="color: red">
</div>
</body>
</html>