<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/movieList.css}" rel="stylesheet" />

<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>영화</th>
        <th>감독</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="movie : ${movieList}">
        <td th:text="${movie.movieId}"></td>
        <td th:text="${movie.name}"></td>
        <td th:text="${movie.directorName}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>