<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

<body>
<div class="container">
  <h1 class="pb-3 pt-3">Movie List</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">영화</th>
      <th scope="col">감독</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movieList}">
      <th scope="row" th:text="${movie.movieId}"></th>
      <td><a th:href="@{/movie/watch/} + ${movie.movieId}" th:text="${movie.name}"></a></td>
      <td th:text="${movie.directorName}"></td>
    </tr>
    </tbody>
  </table>
</div> <!-- /container -->
</body>
<script>
  function movePage(movieId) {
    location.href = "/movie/watch/" + movieId;
  }
</script>
</html>