<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>영화 감상</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{https://cdn.plyr.io/3.7.2/plyr.css}" />
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.3/plyr.polyfilled.min.js}"></script>
</head>
<body>
  <div class="container">
    <div class="pt-3 pb-3">
      <div>
        <h3 th:text="${movie.name}"></h3>
        <div th:text="${movie.directorName}"></div>
      </div>
      <div style="float: right;">
        <button type="button" class="btn btn-primary" th:onclick="@{location.href='/movie/download/} + ${movie.movieId} + @{';}">다운로드</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/movie/movieList';">돌아가기</button>
      </div>
    </div>
    <br>
    <video id="player" th:src="@{/movie/download/} + ${movie.movieId}" type="video/mp4"></video>

    <div class="input-group pt-3">
      <input id="timeInput" class="form-control" placeholder="시간 입력">
      <button type="button" class="btn btn-primary" id="timeMoveBtn">이동</button>
    </div>
  </div>
</body>
<script>
  // 플레이어 만들기
  const player = new Plyr('#player', {
    controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen'],
    invertTime: false,
    keyboard: {
      focused: false,
      global: false
    },
  });

  document.getElementById('timeMoveBtn').addEventListener("click", () => {
    const input = document.getElementById('timeInput').value;
    const minute = input / 100;
    const second = input % 100;

    player.currentTime = 60 * minute + second;
  });
</script>
</html>